<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Album</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <tr th:each="picture :${pictures}">
            <div class="row">
                <div class="img">
                    <img th:src="@{/picture/{id}(id=${picture.id})}" width=50% height=50%/>
                </div>
            </div>
        </tr>
    </div>

</body>
</html>
