<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>

    <header>
        <nav class="navbar navbar-light bg-light">
            <a href="/">HOMEPAGE</a>
            <form class="form-inline" th:action="@{/search}" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" id="usersearch" name="usersearch">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/logout"/>Logout</a>
            </form>
        </nav>  
    </header>
    <body>
        <div class ="container">    
            <p th:text="${account.name}">username</p>
            <td>
                <a th:if="${areFriends == true and friendRequestAlreadySent == false}" th:href="@{friendrequest/{id}(id=${account.id})}" class="btn btn-outline-success my-2 my-sm-0">Send friend request</a>
            </td>
            <p th:text="${friendRequestAlreadySent}">username</p>
            tää
            <tr th:each="request: ${requests}">
            <td th:text="${request.sender.name}" />
            </tr>
            
        </div>
    </body>
</html>