<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Homepage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>

    <header>
        <nav class="navbar navbar-light bg-light">
            <a class = "col-2" href="/">HOMEPAGE</a>
            <form class="form-inline" th:action="@{/search}" method="post">
                <a class="btn btn-outline-success" th:href="@{/notifications}">
                    Notifications <span class="badge badge-danger" th:text="${#lists.size(requests)}"></span>
                </a>
                <input class="form-control" type="search" placeholder="Search" id="usersearch" name="usersearch">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    <a class="btn btn-danger my-2 my-sm-0" href="/logout"/>Logout</a>
            </form>

        </nav>
    </header>
    <body>
        <div class ="container-fluid">    
            <div class ="row">
                <div class ="col-sm">
                    <h1 th:text="${account.name}"></h1>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class ="row">
                <div class ="col-sm">
                    <a th:href="@{album/{id}(id=${account.id})}" ><img th:if="${hasPicture == true}" th:src="@{/picture/{id}(id=${picture.id})}" height="300"/></a>
                    <br>
                    <br>
                    <a class="btn btn-outline-success" th:if="${hasPicture == false and samePerson == true}"  href="/upload">Upload Profile picture </a>
                    <a class="btn btn-outline-success" th:if="${hasPicture == true and samePerson == true}"  href="/upload">Upload pictures</a>
                    <h2>Friends</h2>
                    <tr th:each="friend :${account.friends}">
                        <div th:text="${friend}" />
                    </tr>
                    <td>
                        <a th:if="${samePerson == false and friendRequestAlreadySent == false and areFriends == false}" th:href="@{friendrequest/{id}(id=${account.id})}" class="btn btn-outline-success my-2 my-sm-0">Send friend request</a>
                    </td>
                    <p class="btn btn-outline-success my-2 my-sm-0" th:if="${friendRequestAlreadySent == true}">Friend request sent / received (pending)</p>
                    <p class="btn btn-outline-success my-2 my-sm-0" th:if="${areFriends == true}">You are friends!</p>
                </div>
                <div th:if="${areFriends == true or samePerson == true}" class ="col">
                    <td th:each="post : ${posts}">
                        <div>
                            <span th:text="${#temporals.format(post.ldt, 'dd-MM-yyyy HH:mm')}"/>  <<span th:text="${post.poster}" />> <span th:text="${post.content}" />
                        </div>
                    </td>

                    <form th:if="${areFriends == true or samePerson == true}" th:action="@{post/{id}(id=${account.id})}" method="POST">
                        <textarea class="form-control" id="post" name="content" rows="3"></textarea>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Post</button>
                    </form>

                </div>


            </div>

        </div>

    </body>
</html>