<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body>

        <form class="form-signup" th:action="@{/createNewAccount}" method="post">
            <div class = "container">
                <h2 class="form-signup-heading">Sign up</h2>
                <p th:if="${param.error}" class="error">Invalid user, password, or domain</p>
                <p>
                    <input id="name" name="name" class="form-control"
                           placeholder="Name"/>
                </p>
                <p>
                    <input id="username" name="username" class="form-control"
                           placeholder="Username"/>
                </p>
                <p>
                    <input type ="password" id="password" name="password" class="form-control"
                           placeholder="Password"/>
                </p>
                <p>
                    <input id="useraddress" name="useraddress" class="form-control"
                           placeholder="Personal address"/>
                </p>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button><br/>
            </div>
        </form>
    </body>
</html>
