<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Hello world</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <link href="static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>

    <header>
        <nav class="navbar navbar-light bg-light">
            <a th:href="@{/}">HOMEPAGE</a>
            <form class="form-inline" th:action="@{/search}" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" id="usersearch" name="usersearch">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>  
    </header>
    <body>
        <div th:each="account : ${accounts}">
        <p th:text="${account.name}">Onions</p>
        </div>
    </body>
</html>
